body{
  overflow: hidden;
}
.container{
  display:flex;
  flex-direction:column;
  width:100wh;
  height:100vh;
  overflow:hidden;
  justify-content:center;
  align-items:center;
}

.score{
  margin-bottom: 2vw;
  font-size: 2.5vw;
  font-weight: bold;
}

.life{
  margin-bottom: 2vw;
  font-size: 2vw;
}

.character-label{
  font-size:20vw;
}

.btn-panel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  width: 20%;
}

button{
  border: 4px solid black;
  padding:1vw;
  padding-left:1.5vw;
  padding-right:1.5vw;
  font-size: 1.5vw;
  width:50%;
  margin-right: 0.5vw;
  background-color: white;
  border-radius: 0.5vw;
}

button:hover{
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}
